@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');


body{
    font-family: 'EB Garamond', serif;
    margin: 0;
    background: rgb(145, 148, 136)
    heigth: auto;
}

h1 {
    font-size: 3.5rem;
    text-transform: uppercase;
    margin: 5;
    line-height: 85%;
    text-align: center;
}

h2 {
    
    font-size: 1.2rem;
    text-transform: capitalize;
    margin: 0;
    text-align: center;
}

img {
    display: block;
    width: 100%;
    border-radius: 60px;
}

main {
    max-width: 900px;
    margin: auto;
    box-shadow: 30px 0px 40px rgba(0,0,0,0.1),
    -30px 0px 40px rgba(0,0,0,0.1);
    background-color:rgb(218, 218, 218);
}

#landing {
    background: rgb(94, 122, 8);
    border-radius: 60px;
}

#landing-text{
    display: flex;
    flex: 0 1 40vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#landing-text h2 {
    color: rgb(255, 255, 255);
}

#landing-image {
    background: url(images/cchocolate-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 42vh;
    flex: 0 1 60vw;
    margin: 50px;
}

.btn {
    padding: 6rem 0.4rem;
    border: 1px rgb(143, 139, 139, 0.5) outset;
    display: inline-block;
    margin: -1rem 0 0;
    border-radius: 60px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: background 500ms ease;
}

.btn:hover {

    border: 1px rgb(143, 139, 139, 0.5) inset;
}

#header{
padding: 1.5rem;
text-align: center;
background: rgb(0,0,0);
color: #fff;
border-radius: 60px;
}

.toc {
    text-align: center;
}

#chapter{
    padding: 1.5rem;
    text-align: center;
    background: rgb(0,0,0);
    color: #fff;
    border-radius: 60px;
    }


#header h2{
border-left: dotted 1p #fff;
border-left: dotted 1p #fff;
display: inline-block;
padding-right: 1rem;
padding-left: 1rem;
}

.caption {
    padding: 0.8rem;
    text-align: center;
}

.bibliography {
    text-align: center;
}

footer {
    text-align: center;
    padding: 2rem 1rem;
    margin: auto;
    color:#333;
}

footer h3 {
    font-size: 3rem;
    margin-bottom: 0;
}

/* Screen Sizes 500px and Up */

@media (min-width: 700px) {
    #landing {
        display: flex;
        height: 100%;
    }
}

/* Screen Sizes 700px and Up

@media(min-width: 800px) {
    .btn {
        padding: 1rem 3rem;
    }
} */